.message-box-wrapper {
  height: 40px;
  width: 400px;
  background-color: #20212c;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: #ffffff;
}
